<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Tests" verbose="1">

    <listeners>
        <listener class-name="com.mentorship.utils.testng.AddScreenshotOnFailListener"/>
    </listeners>

    <test name="Tests">
        <packages>
            <package name="com.epam.mentorship"/>
        </packages>
    </test>
</suite>